html {
    background-image: url(bg_static.jpg);
    background-attachment: fixed;
}

header {
    position:sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba( 0 , 0 , 0 , .2);
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin: 0;
}

.logo {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
}

.logo img {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 15px;
}

.links {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    transition: box-shadow 0.3s ease;
}

.link:hover {
    text-shadow: 0 0 10px #ff0000;
}

body {
    font-family: 'Roboto', sans-serif;
}

.top-flex-container {
    display: flex;
    background-color: rgba( 0 , 0 , 0 , .2);
    padding: 15px;
    gap: 15px;
    margin-top: 150px;
}

.top-text-container {
    flex: 1;
}

.top-title-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
}

.paragraph-text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}
.top-image {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.middle-flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-title-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.gallery-images {
    margin: 0 10px;
    text-align: center;
}

.gallery-images img {
    max-width: 100%;
    height: auto;
}

.caption {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

bottom {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bottom-flex-container {
    width: 80%;
    p {
      padding: 0 2em;
      background-color: rgba( 0 , 0 , 0 , .2);
      color: white;
    }
    .quote-text {
      padding-top: 2em;
      font: normal 400 1em/1.5em 'Montserrat', sans-serif;
      letter-spacing: 0.04em;
    }
    .quoter {
      padding-bottom: 1em;
      font: normal 700 1.5em/1.5em 'Montserrat', sans-serif;
      letter-spacing: 0.07em;
      text-align: right;
      &:before {
        content: " - ";
      }
    }
    &:after {
      content: "◤";
      font-size: 2em;
      color: #fff;
      margin: 0 0 0 75%;
    }
  }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba( 0 , 0 , 0 , .2);
}

.footer-text {
    color: #fff;
}