body {
    font-family: 'Roboto', sans-serif;
    background-image: url(bg_static.jpg);
    background-attachment: fixed;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin: 0;
}

.logo {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
}

.logo img {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 15px;
}

.links {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    transition: box-shadow 0.3s ease;
}

.link:hover {
    text-shadow: 0 0 10px #ff0000;
}

/* Top Section Styles */
.top-flex-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    gap: 15px;
    margin-top: 10px;
}

.top-text-container {
    flex: 1;
}

.top-title-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
    text-align: center;
}

.paragraph-text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.top-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.button:hover {
    background-color: #45a049;
}

.middle-flex-container {
    margin-top: 15em;
    padding-top: 1em;
    background-color: rgba(0, 0, 0, 0.2);
}

.middle-title-text {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
    margin-bottom: 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 2.5em;
}

.gallery-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.gallery-images img {
    width: 12em;
    height: 12em;
    object-fit: cover;
    border: 0.5em solid white;
    border-radius: 0.5em;
}

.caption {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    color: #fff;
}

.bottom-flex-container {
    margin-top: 15em;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
}

.quote-text {
    padding: 2em;
    font: normal 400 2em/2.5em 'Comic Sans MS', sans-serif;
    letter-spacing: 0.04em;
}

.quoter {
    padding: 1em;
    font: normal 700 3em/1.5em 'Comic Sans MS', sans-serif;
    letter-spacing: 0.07em;
    text-align: right;
}

.contact-container {
    display: flex;
    background-color: black;
    margin: 5em 15em 5em 15em;
}

.contact-text, .contact-subtext {
    color: white;
    padding: 5px 5px 5px 15px;
    flex-grow: 2;
}

.contact-subtext {
    font-size: 12px;
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer-text {
    color: #fff;
    text-align: center;
}
